{% if site.comments.duoshuo.name %}
  <div id="comments">
    <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }}{% endif %}"></div>
  </div>
{% else %}
  {% if site.comments.disqus.name %}
    <div id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = '{{ site.disqus }}';
			var disqus_identifier = '{{ page.id }}';
			(function () {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
    </div>
  {% endif %}
{% endif %}

