---
layout: default
---

<div class="row">
  <!-- 主内容区 - 全宽 -->
  <div class="col-12 post-page">
    <article class="news-item">
      <h1 class="news-item mb-3">{{ page.title }}</h1>
      <div class="post-meta mb-4">
        <time class="post-date">
          <svg class="icon"><use xlink:href="#icon-clock"></use></svg>
          {{ page.date | date_to_string }}
        </time>
        <span class="meta-separator">·</span>
        <a href="https://github.com/{{ site.author.github }}/{{ site.author.github }}.github.io/edit/master/{{ page.path }}" target="_blank" class="edit-link">纠错</a>
      </div>
      <div class="post-content">
        {{ content }}
      </div>
      <div id="pay" style="text-align:center;">
        -----EOF-----
        <br>
        {% include support.html %}
      </div>

      <p class="meta mt-3">
        {% unless page.category == empty %}
          Categories:
          {% for cat in page.category %}
            <a class="badge bg-secondary text-decoration-none" href="{{ BASE_PATH }}/categories.html#{{ cat|downcase}}">{{ cat |downcase}}</a>
          {% endfor %}
        {% endunless %}

        {% unless page.tags == empty %}
          Tags:
          {% for tag in page.tags %}
            <a class="badge bg-secondary text-decoration-none" href="{{ BASE_PATH }}/tags.html#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        {% endunless %}
      </p>
    </article>

    <nav aria-label="Post navigation" class="mt-4">
      <ul class="pagination justify-content-between">
        {% if page.previous %}
          <li class="page-item"><a class="page-link btn btn-sm" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link btn btn-sm" href="#" tabindex="-1" aria-disabled="true">&larr; Prev</a></li>
        {% endif %}
        {% if page.next %}
          <li class="page-item"><a class="page-link btn btn-sm" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link btn btn-sm" href="#" tabindex="-1" aria-disabled="true">Next &rarr;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% include comments.html %}
  </div>
</div>
